<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5 ">

            <div class=" py-3 rounded shadow">
                <div class="text-center">
                    <h1>Login</h1>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3 mx-2">
                      <label for="email" class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" placeholder="Enter Email">
                    
                    </div>
                    <div class="mb-3 mx-2">
                      <label for="password" class="form-label">Password</label>
                      <input formControlName="password" placeholder="Enter password" type="password" class="form-control" >
                    </div>

                    <button type="submit" class="btn btn-primary mx-2">Login</button>
                  </form>
                  <a class="mx-2" routerLink="/sinup">New User ? Click to Sinup !</a>
            </div>
        </div>
    </div>
</div>